<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="http://staticcnd.baokaicong.com/js/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://staticcnd.baokaicong.com/js/vue/2.4.2/vue.min.js"></script>
		<script src="/js/vue.aidework.table.js"></script>
		<script src="/js/aidework.dialog.js"></script>
		<script src="/js/aidework.core.js"></script>
		<script src="/js/jquery.aidework.panel.js"></script>
		<link rel="stylesheet" href="/css/aidework.table.css" />
		<link rel="stylesheet" href="/css/content/general.css" />
		<link rel="stylesheet" href="/css/content/general.edit.css" />
		<link rel="stylesheet" href="/css/content/log.list.css" />
	</head>
	<body>
		<div class="table-container" id="data-table">
			<div class="header">
				<ul class="header-button-list">
<!-- 					<li class="insert-data button-marked">新增</li> -->
					<li class="delete-data button">删除</li>
				</ul>
				<div class="search-container" style="float: right;">
					<input type="text" v-model="keyword" placeholder="名称"/>
					<div v-on:click="search">搜索</div>
				</div>
			</div>
			<table class="data-table">
				<tr class="header">
					<td width="60">ID</td>
					<td width="60">级别</td>
					<td>信息</td>
					<td width="120">用户ID</td>
					<td width="150">时间</td>
					<td width="100">操作</td>
				</tr>
				<tr class="record" v-for="r in records" v-on:click="select" v-on:dblclick="edit">
					<td :title="r.id" column="id" editable='false'>{{r.id}}</td>
					<td :title="r.level" column="level" editable='false'>{{r.level}}</td>
					<td :title="r.info" column="info" editable='false'>{{r.info}}</td>
					<td :title="r.uid" column="uid" editable='false'>{{r.uid}}</td>
					<td :title="r.time" column="time" editable='false'>{{r.time}}</td>
					<td editable='false' width="250">
						<drop @click="drop">删除</drop>
					</td>
				</tr>
			</table>
			<div class="bottom">
				<select class="page-selector value-selector" v-on:change="perChanged">
					<option value="1">每页1条</option>
					<option value="2">每页2条</option>
					<option value="5">每页5条</option>
					<option value="10">每页10条</option>
					<option value="15">每页15条</option>
					<option value="20">每页20条</option>
					<option value="30" selected="selected">每页30条</option>
				</select>
				<div class="page-container">
					<div class="page-button pre-page" v-on:click="pre">&lt;</div>
					<div type="text" class="current-page">{{page.current}}</div>
					<div class="page-button next-page" v-on:click="next">&gt;</div>
					<div class="totle-page">共{{page.total}}页</div>
				</div>
				
			</div>
		</div>
		
		<script src="/js/content/log.list.js"></script>
	</body>
</html>
