<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="http://staticcnd.baokaicong.com/js/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://staticcnd.baokaicong.com/js/vue/2.4.2/vue.min.js"></script>
		<script src="/js/jquery.aidework.panel.js"></script>
		<script src="/js/jquery.course-table.js"></script>
		<link rel="stylesheet" href="/css/course-table.css" />
		<link rel="stylesheet" href="/css/content/general.css" />
		<link rel="stylesheet" href="/css/content/general.edit.css" />
		<link rel="stylesheet" href="/css/content/score.list.css" />
		
		<title></title>
	</head>
	<body>
		<div id="app" class="edit">
			<div class="teacher-select-container">
				<div class="selector-container">
					<span>学期：</span>
					<select class="value-selector" v-model="term">
						<option value="2020.2">2020秋季</option>
						<option value="2020.1">2020春季</option>
						<option value="2019.2">2019秋季</option>
						<option value="2019.1">2019春季</option>
						<option value="2018.2">2018秋季</option>
						<option value="2018.1">2018春季</option>
					</select>
				</div>
				<div class="selector-container">
					<span>查询类型</span>
					<select class="value-selector type-selector" v-model="type">
						<option value="0">查询学生</option>
						<option value="1">查询教师</option>
						<option value="2">查询课程</option>
					</select>
				</div>
				<div v-if="type==0">
					<div class="selector-container">
						<span>学院</span>
						<select class="value-selector inst-selector" v-model="iid">
							<option v-for="inst in insts" :value="inst.iid">{{inst.name}}</option>
						</select>
					</div>
					<div class="selector-container">
						<span>班级</span>
						<select class="value-selector clazz-selector" v-model="cid">
							<option v-for="clazz in clazzs" :value="clazz.cid">{{clazz.name}}</option>
						</select>
					</div>
					<div class="selector-container">
						<span>学生</span>
						<select class="value-selector student-selector" v-model="sid">
							<option v-for="student in students" :value="student.sid">{{student.name}}</option>
						</select>
					</div>
				</div>
				<div v-if="type==1">
					<div class="selector-container">
						<span>学院</span>
						<select class="value-selector inst-selector" v-model="iid">
							<option v-for="inst in insts" :value="inst.iid">{{inst.name}}</option>
						</select>
					</div>
					<div class="selector-container">
						<span>教师</span>
						<select class="value-selector teacher-selector" v-model="tid">
							<option v-for="teacher in teachers" :value="teacher.tid">{{teacher.name}}</option>
						</select>
					</div>
				</div>
				<div v-if="type==2">
					<div class="selector-container">
						<span>课程</span>
						<select class="value-selector course-selector" v-model="coid">
							<option v-for="course in courses" :value="course.coid">{{course.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<table class="score-table">
				<tr class="header">
					<td width="50">序号</td>
					<td width="70">学生</td>
					<td width="100">课程</td>
					<td width="80">授课教师</td>
					<td width="120">班级</td>
					<td width="90">成绩</td>
					<td width="80">状态</td>
					<td>操作</td>
				</tr>
				<tr class="record" v-for="(score,i) in scores">
					<td>{{i+1}}</td>
					<td>{{score.student}}</td>
					<td>{{score.course}}</td>
					<td>{{score.teacher}}</td>
					<td>{{score.clazz}}</td>
<!-- 					<td v-if="score.status<2">
						<input class="score-input" type="number" v-model="score.score"/>
					</td> -->
					<td>{{score.score}}</td>
					
					<td>{{score.status==0?"无成绩":score.status==1?"已保存":score.status==2?"已公布":score.status==3?"申请打回":"其他"}}</td>
					<td>
						<div class="operate-button" v-if="score.status==2||score.status==3" :index="i" @click="rollback">打回</div>
						<div class="operate-button" v-if="score.status==3" :index="i" @click="rollbackCanceled">拒绝申请</div>
					</td>
				</tr>
			</table>
		</div>
		
		<script src="/js/content/score.list.js"></script>
	</body>
</html>
