body{
	margin: 0 0;
	padding: 0 0;
}
.pwd-table{
	margin: 20px auto;
}
.pwd-table .name{
	width: 100px;
	text-align: right;
	padding-right: 10px;
}
.pwd-table .value{
	width:300px;
	text-align: left;
	padding-left: 10px;
}
.pwd-table .modify-button{
	width: 100px;
	height: 30px;
	background: #0956B0;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	cursor: pointer;
	margin-left: 120px;
}
.pwd-table .cue{
	color: #EB130A;
	font-size: 14px;
	text-align: center;
}